body{
    overflow-x: hidden;
}
#phone-card{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 70px;
   

}
@media only screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    #phone-card {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        
    }

}
.found{
    display: none;
}

 